.nav__container {
    position: relative;
    background: $color3;
    margin-bottom: 70px;
    height: 100px;
    &__logo {
        display: flex;
        position: relative;
        justify-content: center;
        &--img {
            position: absolute;
            height: 250px;
            top: -80px;
            overflow: hidden;
        }
    }

}

.like__container {
    display: flex;
    justify-content: space-between;
}