.icon{
    &__logout{
      position: absolute;
      bottom: 0;
      right: 60px;
      font-size: 22px;
      color: white;
      cursor: pointer;
        &--icon{
        color: white;
        position: absolute;
        justify-content: flex-end;
        bottom: 0;
        right: 25px;
        font-size: 30px;
        cursor: pointer;
        }
    }
      &--like{
        color: $color3;
        padding-right: 10px;
        cursor: pointer;
      }
        &--dislike {
          color: $color1;
          padding-left: 10px;
          cursor: pointer;
        }
          &__pen {
            margin: 10px 25px 0 0;
          }
           &__pen__post {
            margin: 10px 25px 0 0;
            position: absolute;
            height: 24px;
            width: 24px;
            transform: translate(-18px, 4px);
           }
             &__trash{
               margin: 10px 0 0 0;
             }

             &__upload {
                position: absolute;
                height: 24px;
                width: 24px;
                transform: translate(-10px, 15px);
             }
  }