.icon{
    &__logout{
      position: absolute;
      top: 0;
      right: 30px;
      font-size: 18px;
      color: white;
      cursor: pointer;
        &--icon{
        color: white;
        position: absolute;
        justify-content: flex-end;
        top: 2px;
        right: 5px;
        font-size: 20px;
        cursor: pointer;
        }
    }
      &--like{
        color: #32CD32;
        padding-right: 10px;
        cursor: pointer;
      }
        &--dislike {
          color: $color1;
          padding-left: 10px;
          cursor: pointer;
        }
          &__pen {
            color: $color3;
            margin: 10px 25px 0 0;
            cursor: pointer;
          }
           &__pen__post {
            margin: 10px 25px 0 0;
            position: absolute;
            color: $color3;
            cursor: pointer;
            height: 24px;
            width: 24px;
            transform: translate(-18px, 4px);
           }
             &__trash{
               margin: 10px 0 0 0;
               cursor: pointer;
               color: $color1;
             }

             &__upload {
                position: absolute;
                height: 24px;
                width: 24px;
                color: $color3;
                transform: translate(3px, 5px);
                cursor: pointer;
             }
             &__upload--update {
                position: absolute;
                height: 24px;
                width: 24px;
                color: $color3;
                transform: translate(3px, 70px);
                cursor: pointer;
             }
  }